<header>
    <div #logoAndName class="header-left">
      <img src="assets/images/ArchmiedeLogo.png" alt="Logo" class="logo doNotSelect">
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Protest+Strike&display=swap');
      </style>      
      <h1 class="site-name doNotSelect">Archimède</h1>
    </div>
    <nav class="header-right">
      <ul class="Other-tabs doNotSelect">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </nav>
  </header>